@charset "utf-8";

*{
    margin: 0;
    padding: 0; 
}
body, input, button{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #121212;
}
a{
    text-decoration: none;
}
img, input, button{
    vertical-align: top;
}
ul{
    list-style: none;
}
address{
    font-style: normal;
}